<% include _header %>

<div class="nicknameDiv">
    My nickname is: <font class="nickname"></font>
</div>

    <div class="chat">
        
        <div class="chatwindow">

        </div>
        
 <div class="typing"></div>
        <input type="text" autofocus class="messageArea">
    </div>


    <script src="/js/chat.js"></script>
    <% include _footer %>