<% include _header %>

<div class="mainDiv">
<button id="createRoom">Create room</button>
    
    <div class="hint">
    This button will generate a random room. To invite your friends, you need to give them a secret key like <code>w8u5i8g4p8u5t2v3</code>. Enjoy!
    </div>
</div>
    
<script src="/js/index.js"></script>
<% include _footer %>